body {
    background-image: url('../images/image17.jpg'); /* Cambia 'background.jpg' por la imagen que desees */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-attachment: fixed; /* Mantener la imagen fija durante el scroll */
}
.background-container {
    
    padding: 50px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}
.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.options a {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    transition: background-color 0.3s;
    flex-basis: calc(50% - 20px); 
    text-align: center;
}
.options a:hover {
    background-color:rgba(0, 0, 0, 0.7);
    }
@media (max-width: 768px) {
        h1 {
            font-size: 2em;
        }
    
        .options a {
            flex-basis: calc(100% - 20px); /* Un elemento por fila en pantallas pequeñas */
            font-size: 1.2em;
            padding: 10px 20px;
        }
    }
    
    /* Media query para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
        h1 {
            font-size: 1.8em;
        }
    
        .options a {
            font-size: 1em;
            padding: 8px 15px;
        }
    }